@font-face {
  font-family: 'HeadlinerNo45DEMO';
  src: url('./font/HeadlinerNo.45-DEMO.ttf') format('truetype');
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-image: url("../Gambar/PUBG\ Background.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background :linear-gradient(to bottom,black, orange);
  }
  
  .navbar .logo a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin: 0 1rem;
    position: relative;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffcc00;
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #222;
    list-style: none;
    padding: 0.5rem 0;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-menu li {
    padding: 0.5rem 1rem;
  }
  
  .dropdown-menu a {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  /* Konten Halaman */
h1, h3, p {
  margin: 1rem 0;
  line-height: 1.6;
  max-width: 800px; 
}

/* Konten Halaman di Tengah */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  flex-grow: 1; 
  padding: 2rem;
}

h1, h3, p {
  margin: 1rem 0;
  line-height: 1.6;
  max-width: 800px; 
  background: rgba(0, 0, 0, 0.7);
  padding: 1rem;
  border-radius: 10px; 
}

.content>h1{
  font-family: Geist Mono;
}

.content>h3,p{
  font-family: 'HeadlinerNo45DEMO' , sans-serif;
}

.custom-font {
  font-family: 'HeadlinerNo45DEMO', sans-serif;
}